Read_Text/python/__pycache__/espeak_read_text_file.cpython-36.pyc
Read_Text/python/__pycache__/network_read_text_file.cpython-36.pyc
Read_Text/python/__pycache__/openjtalk_read_text_file.cpython-36.pyc
Read_Text/python/__pycache__/readtexttools.cpython-36.pyc
Read_Text/python/__pycache__/rhvoice_read_text_file.cpython-36.pyc
