[Desktop Entry]
Type=Application
ame=Piper Speech Synthesis
Name[af]=Piper-spraaksintese
Name[bn]=পাইপার স্পিচ সিন্থেসিস
Name[de]=Piper-Sprachsynthese
Name[el]=Σύνθεση ομιλίας Piper
Name[en]=Piper Speech Synthesis
Name[es]=Síntesis de voz Piper
Name[fa]=سنتز گفتار پایپر
Name[fi]=Piper-puheensynteesi
Name[fr]=Synthèse vocale Piper
Name[gu]=પાઇપર ભાષણ સંશ્લેષણ
Name[ha]=Haɗa Magana ta Piper
Name[hu]=Piper beszédszintézis
Name[it]=Sintesi vocale Piper
Name[jv]=Sintesis Pidato Piper
Name[ko]=파이퍼 음성 합성
Name[ne]=पाइपर वाक संश्लेषण
Name[nl]=Piper-spraaksynthese
Name[pl]=Synteza mowy Piper
Name[ru]=Синтез речи Piper
Name[sw]=Uchanganuzi wa Hotuba wa Piper
Name[te]=పైపర్ స్పీచ్ సింథసిస్
Name[tn]=Piper go tlhama puo
Name[uk]=Синтез мовлення Piper
Name[vi]=Tổng hợp giọng nói Piper
Name[yo]=Ìṣàkóso Ohùn Piper
Name[zh-CN]=Piper语音合成
Comment=Start the Piper speech synthesis server
Comment[af]=Begin die Piper-spraaksintese-bediener
Comment[bn]=পাইপার স্পিচ সিন্থেসিস সার্ভার চালু করুন
Comment[de]=Piper-Sprachsynthese-Server starten
Comment[el]=Εκκίνηση του διακομιστή σύνθεσης ομιλίας Piper
Comment[en]=Start the Piper speech synthesis server
Comment[es]=Iniciar el servidor de síntesis de voz Piper
Comment[fa]=راه‌اندازی سرور سنتز گفتار پایپر
Comment[fi]=Käynnistä Piper-puheensynteesipalvelin
Comment[fr]=Démarrer le serveur de synthèse vocale Piper
Comment[gu]=પાઇપર ભાષણ સંશ્લેષણ સર્વર શરૂ કરો
Comment[ha]=Fara uwar garken Haɗa Magana ta Piper
Comment[hu]=Indítsa el a Piper beszédszintézis-kiszolgálót
Comment[it]=Avvia il server di sintesi vocale Piper
Comment[jv]=Miwiwiti server sintesis pidato Piper
Comment[ko]=파이퍼 음성 합성 서버 시작
Comment[ne]=पाइपर वाक संश्लेषण सर्भर सुरु गर्नुहोस्
Comment[nl]=Start de Piper-spraaksyntheseserver
Comment[pl]=Uruchom serwer syntezy mowy Piper
Comment[ru]=Запустить сервер синтеза речи Piper
Comment[sw]=Anzisha seva ya uchanganuzi wa hotuba wa Piper
Comment[te]=పైపర్ స్పీచ్ సింథసిస్ సర్వర్ ప్రారంభించండి
Comment[tn]=Simolola seva ya tlhama puo ya Piper
Comment[uk]=Запустити сервер синтезу мовлення Piper
Comment[vi]=Khởi động máy chủ tổng hợp giọng nói Piper
Comment[yo]=Bẹrẹ olupin ìṣàkóso ohùn Piper
Comment[zh-CN]=启动Piper语音合成服务器
Exec=gnome-terminal -- bash -c 'podman run --network host -v ~/.var/app/com.mikeasoft.pied/data/pied/models:/models:Z piper-tts'
Terminal=true
Icon=/usr/share/icons/gnome/256x256/apps/preferences-desktop-accessibility.png
Categories=Utility;Accessibility;
StartupNotify=true
